<div class="custom_model_body modal_scrl">
  <div class="myForm">
    <div class="heading">Basic Details</div>
    <div class="desc">Enter the required information to add a product.</div>

    <div class="border_alignment"></div>
    <form [formGroup]="form">
      <div class="row_div">
        <div class="col_div">
          <label><span>Name</span><sup>*</sup></label>
        </div>
        <div class="col_div w-100">
          <input
            type="text"
            placeholder="Enter Name"
            formControlName="name"
            [ngClass]="{
              'border-danger': form.get('name')?.touched && form.get('name')?.invalid,
            }"
          />
          @if (form.get('name')?.touched && form.get('name')?.invalid) {
            <div class="error">Name cannot be empty or contain only spaces.</div>
          }
          @if (form.get('name')?.hasError('minlength')) {
            <div class="error">Minimum 3 characters required</div>
          }
          @if (form.get('name')?.hasError('maxlength')) {
            <div class="error">Maximum 50 characters required</div>
          }
        </div>
      </div>
      <div class="row_div">
        <label>Email <sup class="error">*</sup> </label>
        <div class="d-flex flex-column gap-2 w-100">
          <input
            type="email"
            placeholder="Enter Email"
            formControlName="email"
            [ngClass]="{
              'border-danger': this.form.get('email')?.invalid && this.form.get('email')?.touched,
            }"
          />

          @if (this.form.get('email')?.touched && this.form.get('email')?.invalid) {
            @if (
              this.form.get('email')?.hasError('required') ||
              this.form.get('email')?.hasError('whitespace')
            ) {
              <div class="error">Email is required.</div>
            }
            @if (this.form.get('email')?.hasError('email')) {
              <div class="error">Email format is invalid.</div>
            }
          }
        </div>
      </div>
      <div class="row_div">
        <div class="col_div">
          <label><span>Mobile No.</span><sup>*</sup></label>
        </div>
        <div class="col_div w-100">
          <input
            type="text"
            placeholder="Enter Mobile No."
            formControlName="mobileNo"
            [ngClass]="{
              'border-danger': form.get('mobileNo')?.touched && form.get('mobileNo')?.invalid,
            }"
          />
          @if (form.get('mobileNo')?.touched && form.get('mobileNo')?.invalid) {
            <div class="error">Mobile number cannot be empty or contain only spaces.</div>
          }
        </div>
      </div>
      <div class="row_div flex_start">
        <div class="col_div">
          <label class="mt_15px"><span>Description</span></label>
        </div>
        <div class="col_div w-100">
          <textarea
            placeholder="Enter Description"
            formControlName="description"
            [ngClass]="{
              'border-danger':
                this.form.get('description')?.touched && this.form.get('description')?.invalid,
            }"
          ></textarea>
          @if (form.get('description')?.touched && form.get('description')?.hasError('maxlength')) {
            <div class="error">Description can not be more than 500 characters</div>
          }
        </div>
      </div>
    </form>
  </div>
</div>
<div class="custom_model_footer">
  <div class="left">
    <button class="outline_btn" (click)="closeConnectionWizard()">Back</button>
  </div>
  <div class="right">
    <button
      class="fill_btn"
      [ngClass]="{
        fill_btn: this.form.valid,
        fill_disable_btn: this.form.invalid,
      }"
      [disabled]="this.form.invalid"
      (click)="processAndGoToNextStep()"
    >
      Save
    </button>
  </div>
</div>
