<div class="custom_model_body modal_scrl">
  <div class="myForm">
    <div class="heading">Basic Details</div>
    <div class="desc">Enter the required information to add a product.</div>

    <div class="border_alignment"></div>
    <form [formGroup]="form">
      <div class="row_div">
        <div class="col_div">
          <label><span>Product Name</span><sup>*</sup></label>
        </div>
        <div class="col_div w-100">
          <input
            type="text"
            placeholder="Enter Product Name"
            formControlName="productName"
            [ngClass]="{
              'border-danger': form.get('productName')?.touched && form.get('productName')?.invalid,
            }"
          />
          @if (
            form.get('productName')?.touched && form.get('productName')?.hasError('whitespace')
          ) {
            <div class="error">Product name cannot be empty or contain only spaces.</div>
          }
          @if (form.get('productName')?.hasError('minlength')) {
            <div class="error">Minimum 3 characters required</div>
          }
          @if (form.get('productName')?.hasError('maxlength')) {
            <div class="error">Maximum 50 characters required</div>
          }
        </div>
      </div>

      <div class="row_div h_56">
        <div class="col_div">
          <label class="d-flex align-items-center"
            ><span>User Sync</span>
            <div class="show_box">
              <i-feather name="info" class="info_icon pointer"></i-feather>

              <div class="custom_tooltip_section">
                <div class="arrow"></div>
                <div class="user_sync_head">User Sync</div>
                <div class="user_sync_txt">
                  Enable User Sync if the product required additional user data from the ACL.
                </div>
              </div>
            </div></label
          >
        </div>
        <div class="col_div w-100">
          <div class="switch_wrapper">
            <div class="switch_section">
              <label class="switch disable">
                <input type="checkbox" formControlName="enableUserSync" />
                <span class="slider round"></span>
              </label>
            </div>
            <span class="label">
              {{
                form.get('enableUserSync')?.value == true
                  ? 'Required'
                  : 'Not
              Required'
              }}
            </span>
          </div>
        </div>
      </div>
      <div class="row_div h_56">
        <div class="col_div">
          <label class="d-flex align-items-center"
            ><span>CATS Product</span>
            <div class="show_box">
              <i-feather name="info" class="info_icon pointer"></i-feather>

              <div class="custom_tooltip_section">
                <div class="arrow"></div>
                <div class="user_sync_head">CATS Product</div>
                <div class="user_sync_txt">
                  This option is enabled by default and identifies the product as a CATS-managed
                  internal product. Turn it off for products managed outside the CATS ecosystem.
                </div>
              </div>
            </div></label
          >
        </div>
        <div class="col_div w-100">
          <div class="switch_wrapper">
            <div class="switch_section">
              <label class="switch disable">
                <input type="checkbox" formControlName="enableUserSync" />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row_div flex_start">
        <div class="col_div">
          <label class="mt_15px"><span>Description</span></label>
        </div>
        <div class="col_div w-100">
          <textarea
            placeholder="Enter Description"
            formControlName="description"
            [ngClass]="{
              'border-danger':
                this.form.get('description')?.touched && this.form.get('description')?.invalid,
            }"
          ></textarea>
          @if (form.get('description')?.touched && form.get('description')?.hasError('maxlength')) {
            <div class="error">Description can not be more than 500 characters</div>
          }
        </div>
      </div>
    </form>
  </div>
</div>
<div class="custom_model_footer">
  <div class="left">
    <!-- <button class="outline_btn" (click)="closeConnectionWizard('')">Back</button> -->
  </div>
  <div class="right">
    <button
      class="fill_btn"
      [ngClass]="{
        fill_btn: this.form.valid,
        fill_disable_btn: this.form.invalid,
      }"
      [disabled]="this.form.invalid"
      (click)="processAndGoToNextStep()"
    >
      Save and Next
    </button>
  </div>
</div>
